<header class="app-header">
  <span class="brand">DataShare</span>

  <div class="header-actions">
    @if (isAuthenticated()) {

      @if (showMySpace) {
        <a routerLink="/myspace" class="btn-pill">
          Mon espace
        </a>
      }
      @if (showAddFiles) {
        <a routerLink="/upload" class="btn-pill">
          Ajouter des fichiers
        </a>
      }

      <button type="button" class="btn-pill" (click)="logout()">
        Déconnexion
      </button>

    } @else {
      <a [routerLink]="actionRoute" class="btn-pill">
        {{ actionLabel }}
      </a>
    }
  </div>
</header>